language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: false
env:
  - SIMPHONY_VERSION=master
  - SIMPHONY_VERSION=0.6.1
matrix:
    allow_failures:
        # None of the entries can work, because numerrin requires a license.
        # We would be able to test it if we had a mock numerrin wrapper, but
        # this is not available, so we just accept it and mark it all good.
        - env: SIMPHONY_VERSION=master
        - env: SIMPHONY_VERSION=0.6.0
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libhdf5-serial-dev
  # (1) Install cython and numexpr externally because the requirements does
  #     not work with them
  # (2) Pytables breaks with latest Cython
  #     see https://github.com/PyTables/PyTables/issues/388
  - pip install numexpr cython==0.20
  - pip install git+git://github.com/simphony/simphony-common.git@${SIMPHONY_VERSION}#egg=simphony
  - pip install -r dev_requirements.txt
  - pip install -r doc_requirements.txt
  - pip install coveralls
install:
  - python setup.py develop
script:
  - flake8 .
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/numerrin-interface
  - export PYTHONPATH=$PYTHONPATH:$PWD/numerrin-interface
  - python -m unittest discover
after_success:
  - coveralls
