language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: false
env:
  - SIMPHONY_VERSION=413eb6f5683c4733b943c300c3192265c79ac26b
matrix:
  allow_failures:
  - env: SIMPHONY_VERSION=master
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libhdf5-serial-dev
  # (1) Install cython and numexpr externally because the requirements does
  #     not work with them
  # (2) Pytables breaks with latest Cython
  #     see https://github.com/PyTables/PyTables/issues/388
  - pip install numexpr cython==0.20
  - pip install git+git://github.com/simphony/simphony-common.git@${SIMPHONY_VERSION}#egg=simphony
  - pip install -r dev_requirements.txt
  - pip install -r doc_requirements.txt
  - pip install coveralls
install:
  - python setup.py develop
script:
  - flake8 .
after_success:
  - coveralls
